<div class="index">
    <div class="header">
        <p id="title">Platform</p>
        <div class="menu">
            <p>Product</p>
            <p>Lifestyle</p>
            <p>News</p>
            <p>Projects</p>
        </div>
    </div>

    <div class="img-container">
        <img class="img" src="../../../assets/indexx.jpg" height="600" width="100%">
        <p class="home-text">Contemporary.</p>
        <div class="box-one">
            <p>
                Crafting spaces that harmonize modern aesthetics with timeless elegance, our Contemporary
                interior designs breathe life into every room, redefining the essence of chic living.
            </p>
            <button>View More <img src="../../../assets/arrow.svg" width="18"></button>
        </div>

        <div class="box-two">
            <div class="video-container">
                <video controls>
                    <source src="../../../assets/boho room.mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <img class="circular-text" src="../../../assets/text circle.svg">
    </div>
</div>